<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <img src="assets/images/logo.jpg" alt="luv2shop" class="img-responsive" width="80px"  height="60px">
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li>
            <a routerLink="members" routerLinkActive="active-link">
               All Orders
            </a>
          </li>
          <li>
            <a routerLink="orders" routerLinkActive="active-link">
              Progress Orders
            </a>
          </li><li>
          <a routerLink="dorders" routerLinkActive="active-link">
            Delivered Orders
          </a>
        </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->


  <!-- PAGE CONTAINER-->
  <div class="page-container">

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>

  </div>
</div>
<!-- END PAGE CONTAINER-->
